<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <title>Klerk Test 1</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div>
        <input
          id="empty-rubric"
          type="checkbox"
          value="1"
          v-model="isAllowEmpty">

        <label for="empty-rubric">Отображать пустые рубрики</label>
      </div>

      <div>
        Сумма count-ов: {{ sum }}
      </div>

      <ul>
        <Item
          :id="0"
          title="Рубрики"
          :children="rubrics"
          @check="check($event)">
        </Item>
      </ul>
    </div>

    <script>
      const { createApp } = Vue

      const app = createApp({
        data: () => ({
          rubrics: [],
          sum: 0,
          isAllowEmpty: false,
        }),

        watch: {
          isAllowEmpty: {
            async handler() {
              await this.load()
            },
            immediate: true,
          },
        },

        methods: {
          async load() {
            try {
              this.rubrics = await fetch(`https://www.klerk.ru/yindex.php/v3/event/rubrics?allowEmpty=${this.isAllowEmpty ? 1 : 0}`)
                .then(response => response.json())
                .then(data => data.map(arr => this.reform(arr)))
            } catch (error) {
              console.error(error)
            }
          },

          reform(arr) {
            arr.total = 0

            if (arr.children && arr.children.length !== 0) {
              arr.children.map(arr => this.reform(arr))
              arr.total = arr.children.reduce((acc, { count, total }) => acc + count + total, 0)
            }

            return arr
          },

          check(value) {
            this.sum = this.sum + value
          },
        },
      })

      app.component('Item', {
        props: {
          id: {
            type: Number,
            required: true,
          },

          title: {
            type: String,
            required: true,
          },

          url: {
            type: String,
            default: undefined,
          },

          count: {
            type: Number,
            default: 0,
          },

          total: {
            type: Number,
            default: 0,
          },

          children: {
            type: Array,
            default: [],
          },
        },

        data: () => ({
          isCollapse: true,
        }),

        template: `
          <li>
            <template v-if="url">
              <input
                type="checkbox"
                aria-label="Выбрать"
                value="1"
                @change="$emit('check', $event.target.checked ? count : -count)">

              <a :href="'https://www.klerk.ru' + url">{{ title }}</a>
              ({{ count }}{{ children.length !== 0 ? ', ' + total : null }})
            </template>

            <template v-else>
              {{ title }}
            </template>

            <button
              v-if="children.length !== 0"
              type="button"
              @click="isCollapse = !isCollapse">
              {{ isCollapse ? '-' : '+'}}
            </button>

            <ul
              v-if="children.length !== 0"
              v-show="isCollapse">
              <Item
                v-for="childrenData in children"
                :key="childrenData.id"
                :id="childrenData.id"
                :title="childrenData.title"
                :url="childrenData.url"
                :count="childrenData.count"
                :total="childrenData.total"
                :children="childrenData.children"
                @check="$emit('check', $event)">
              </Item>
            </ul>
          </li>
        `,
      })

      app.mount('#app')
    </script>
  </body>
</html>
